# Pandas Series

In [1]:
import numpy as np
import pandas as pd

#### Une Séries pandas est extraite d'un DataFrame

In [2]:
geo = pd.read_csv("correspondance-code-insee-code-postal.csv",
                   sep=';',
                   usecols=range(11),
                   index_col=("Code INSEE")
                )

In [25]:
s=geo["Commune"]

### Les Attribus

In [39]:
s.name

'Commune'

In [6]:
s.values

array(['BOULOGNE-SUR-GESSE', 'FEUILLA', 'BESSAMOREL', ...,
       'LACHAPELLE-SOUS-AUBENAS', 'BAGE-LE-CHATEL', 'GUILBERVILLE'],
      dtype=object)

In [33]:
s.shape

(36742,)

In [37]:
s[masque].index

Index(['31027', '05011', '62058', '51028', '64054', '15004', '21025', '55021',
       '39018', '31028',
       ...
       '16339', '38014', '62053', '73020', '76041', '64062', '70008', '74002',
       '33008', '76008'],
      dtype='object', name='Code INSEE', length=1934)

In [47]:
s[masque].shape[0] #Nombre de ligne

1934

### Les Fonctions

In [8]:
geo["Département"].unique()

array(['HAUTE-GARONNE', 'AUDE', 'HAUTE-LOIRE', 'YVELINES', 'VAUCLUSE',
       'SOMME', 'LANDES', 'CHARENTE-MARITIME', 'ORNE', 'NORD',
       'ALPES-DE-HAUTE-PROVENCE', 'AISNE', 'CHER', 'CALVADOS', 'ARDECHE',
       'MOSELLE', 'SARTHE', 'DEUX-SEVRES', 'HAUTES-ALPES', 'FINISTERE',
       'SAVOIE', "COTES-D'ARMOR", "COTE-D'OR", 'HAUTE-MARNE', 'VIENNE',
       'PYRENEES-ATLANTIQUES', 'DROME', 'OISE', 'CHARENTE',
       'EURE-ET-LOIR', 'MARNE', 'MAYENNE', 'GIRONDE', 'DOUBS',
       'PAS-DE-CALAIS', 'LOIRE', 'VENDEE', 'HAUTE-SAVOIE', 'HAUTE-CORSE',
       'VOSGES', 'MEUSE', 'ESSONNE', 'JURA', 'EURE',
       'PYRENEES-ORIENTALES', 'MORBIHAN', 'LOT', 'SEINE-ET-MARNE', 'GARD',
       'HAUTE-SAONE', 'HAUTE-VIENNE', 'SAONE-ET-LOIRE', 'ARDENNES',
       'HERAULT', 'ILLE-ET-VILAINE', 'SEINE-MARITIME', 'MANCHE',
       'BAS-RHIN', 'HAUTES-PYRENEES', 'AIN', 'LOIRET', 'CORREZE',
       'INDRE-ET-LOIRE', 'INDRE', 'ARIEGE', "VAL-D'OISE",
       'MEURTHE-ET-MOSELLE', 'RHONE', 'LOIRE-ATLANTIQUE',
       'ALPES-MARITIMES', 'HAUT-RHIN', 'MAINE-ET-LOIRE', 'ISERE',
       'BOUCHES-DU-RHONE', 'TARN-ET-GARONNE', 'CANTAL', 'YONNE',
       'LOIR-ET-CHER', 'CORSE-DU-SUD', 'LOT-ET-GARONNE', 'PUY-DE-DOME',
       'ALLIER', 'LOZERE', 'AUBE', 'GERS', 'HAUTS-DE-SEINE', 'DORDOGNE',
       'TERRITOIRE DE BELFORT', 'NIEVRE', 'TARN', 'CREUSE', 'VAR',
       'AVEYRON', 'GUYANE', 'REUNION', 'GUADELOUPE', 'PARIS',
       'VAL-DE-MARNE', 'SEINE-SAINT-DENIS', 'MAYOTTE', 'MARTINIQUE'],
      dtype=object)

In [9]:
geo["Département"].nunique()

101

In [ ]:
geo["Département"].value_counts()

In [ ]:
geo["Population"].sum()

In [ ]:
geo['Altitude Moyenne'].min()

In [ ]:
geo['Altitude Moyenne'].idxmin()

In [ ]:
geo["Population"] * 1000

In [ ]:
geo['Altitude Moyenne'] == 49

In [ ]:
geo["Altitude Moyenne"].isin([49.0, 59.0])

In [ ]:
geo["Superficie"].astype(int)

In [1]:
geo["Population"] / geo["Superficie"]

NameError: name 'geo' is not defined

In [ ]:
geo["Population"].to_numpy() #produit un tableau numpy

#### Fonction Str (fonction sur les chaines de caractère)

In [ ]:
geo["Commune"].str.startswith("B")

In [ ]:
geo["Commune"].str.capitalize()

In [ ]:
geo['Commune'].str.len()

In [27]:
geo['Commune'].str

In [28]:
s.str.contains("ZZ") #Contains considère une expression régulière

Code INSEE
31080    False
11143    False
43028    False
78506    False
84081    False
         ...
74066    False
67315    False
07122    False
01026    False
50224    False
Name: Commune, Length: 36742, dtype: bool

#### Fonction sur une liste

In [ ]:
s.apply(np.sqrt)

In [12]:
def rayon(x):
    return np.sqrt(x / np.pi)
s.apply(rayon(10))

TypeError: 'numpy.float64' object is not callable

In [43]:
s.apply(lambda x: np.sqrt(x / np.pi))

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [45]:
sorted(geo.loc[geo["Commune"].str.len()==2, 'Commune'].values)

['AY',
 'BU',
 'BY',
 'EU',
 'FA',
 'GY',
 'OO',
 'OZ',
 'PY',
 'RI',
 'RY',
 'SY',
 'UR',
 'US',
 'UZ']

### Sélection dans une série

#### Sélection par une valeur

In [22]:
s.loc['91477']

'PALAISEAU'

In [23]:
s.loc[['01001', '01004', '01006']]

Code INSEE
01001    L'ABERGEMENT-CLEMENCIAT
01004          AMBERIEU-EN-BUGEY
01006                    AMBLEON
Name: Commune, dtype: object

In [31]:
s.loc['01001':'01006']

Series([], Name: Commune, dtype: object)

In [32]:
geo.loc["01001":"01006", "Commune":"Statut"]

Empty DataFrame
Columns: [Commune, Département, Région, Statut]
Index: []

#### Masque boolean => sélection au sein d'une série

In [30]:
masque = s.str.startswith("A")
s.loc[masque]

Code INSEE
31027           AURIBAIL
05011            AVANCON
62058           AUMERVAL
51028    AVENAY-VAL-D'OR
64054       ARROS-DE-NAY
              ...
64062              ARUDY
70008           AINVELLE
74002    ALBY-SUR-CHERAN
33008              ARBIS
76008            ANCOURT
Name: Commune, Length: 1934, dtype: object

In [ ]:
s = (geo["Département"] == "ESSONNE") & (geo["Population"] > 30.0)

In [46]:
(geo["Altitude Moyenne"]==0).any() #Ecrase un masque sur une ligne (Axis=1 selon les colones)

True

#### Sélection par l'indice de la ligne

In [17]:
s.iloc[36240]

'VILLY-LE-BOUVERET'

In [ ]:
s.iloc[[0, 2, 4]]

In [ ]:
s.iloc[0:5]

In [ ]:
geo.iloc[0:5, 1:5]