# Thématique : graph

On veux un graph qui représente les stations (noeud) et les trajet les reliant (non orienté)
2 (orienté départ > arrivé) 
3 le poids pourra être le temps d'un trajet 
4 Temps moyen sur ce trajet 
5 Temps moyen sur ce trajet en fct du créneau d'horraire

In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics as stat
from scipy.sparse import coo_matrix

In [72]:
raw_df = pd.read_csv('source/usage_stats/103JourneyDataExtract28Mar2018-03Apr2018.csv')
#Attention, on retire les non trajets
raw_df.drop(raw_df[raw_df['StartStation Id'] == raw_df['EndStation Id']].index,inplace=True)
#On retire les trajet supérieur à 8h
raw_df.drop(raw_df[raw_df['Duration']>28800].index,inplace=True)

In [73]:
df = raw_df
df

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,74203872,120,13382,29/03/2018 11:35,754,"Grenfell Road, Avondale",29/03/2018 11:33,442,"Walmer Road, Avondale"
2,74207162,360,6446,29/03/2018 15:14,442,"Walmer Road, Avondale",29/03/2018 15:08,741,"Freston Road, Avondale"
3,74206214,180,13382,29/03/2018 13:51,741,"Freston Road, Avondale",29/03/2018 13:48,754,"Grenfell Road, Avondale"
4,74243641,300,6,01/04/2018 17:41,16,"Cartwright Gardens , Bloomsbury",01/04/2018 17:36,88,"Bayley Street , Bloomsbury"
5,74279057,600,4462,03/04/2018 22:56,95,"Aldersgate Street, Barbican",03/04/2018 22:46,273,"Belvedere Road 1, South Bank"
...,...,...,...,...,...,...,...,...,...
96169,74260511,780,9963,03/04/2018 09:05,335,"Tavistock Street, Covent Garden",03/04/2018 08:52,540,"Albany Street, The Regent's Park"
96170,74217014,360,990,30/03/2018 09:56,33,"Central House, Aldgate",30/03/2018 09:50,552,"Watney Street, Shadwell"
96171,74197758,900,4773,29/03/2018 08:35,475,"Lightermans Road, Millwall",29/03/2018 08:20,552,"Watney Street, Shadwell"
96172,74233093,240,10539,01/04/2018 00:21,488,"Reardon Street, Wapping",01/04/2018 00:17,552,"Watney Street, Shadwell"
96173,74227626,480,1388,31/03/2018 15:28,587,"Monument Street, Monument",31/03/2018 15:20,552,"Watney Street, Shadwell"

#### Récupérer la liste des stations pour créer la matrice

In [66]:
Liste_EStation = df['EndStation Id']
Travel_Time = df['Duration']
len(Liste_SStation),len(Liste_EStation),len(Travel_Time)

(96174, 96174, 96174)

In [74]:
row=np.array(df['StartStation Id'])
col=np.array(df['EndStation Id'])
data=np.array(df['Duration'])

In [83]:
row,col,data
len(data),len(row),len(col)

(91861, 91861, 91861)

In [82]:
a = coo_matrix((data, (row, col)))
a.toarray()
a.nnz

91861

#### Produire la matrice Noeud / lien

#### Afficher le graph et faire différent calcul dessus