# Création du DataFrame des coordonnées Gps des stations

In [229]:
import pandas as pd
import geocoder
import pickle
from ipyleaflet import Map, Marker, MarkerCluster, basemaps, FullScreenControl
import geopandas

In [2]:
raw_df = pd.read_csv('source/usage_stats/103JourneyDataExtract28Mar2018-03Apr2018.csv')

raw_df.drop(raw_df[raw_df['StartStation Id'] == raw_df['EndStation Id']].index,inplace=True)
raw_df.drop(raw_df[raw_df['Duration']>28800].index,inplace=True)
raw_df['Start Date'] = pd.to_datetime(raw_df['Start Date'], format="%d/%m/%Y %H:%M")
raw_df['End Date'] = pd.to_datetime(raw_df['End Date'], format="%d/%m/%Y %H:%M")
df = raw_df
df

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,74203872,120,13382,2018-03-29 11:35:00,754,"Grenfell Road, Avondale",2018-03-29 11:33:00,442,"Walmer Road, Avondale"
2,74207162,360,6446,2018-03-29 15:14:00,442,"Walmer Road, Avondale",2018-03-29 15:08:00,741,"Freston Road, Avondale"
3,74206214,180,13382,2018-03-29 13:51:00,741,"Freston Road, Avondale",2018-03-29 13:48:00,754,"Grenfell Road, Avondale"
4,74243641,300,6,2018-04-01 17:41:00,16,"Cartwright Gardens , Bloomsbury",2018-04-01 17:36:00,88,"Bayley Street , Bloomsbury"
5,74279057,600,4462,2018-04-03 22:56:00,95,"Aldersgate Street, Barbican",2018-04-03 22:46:00,273,"Belvedere Road 1, South Bank"
...,...,...,...,...,...,...,...,...,...
96169,74260511,780,9963,2018-04-03 09:05:00,335,"Tavistock Street, Covent Garden",2018-04-03 08:52:00,540,"Albany Street, The Regent's Park"
96170,74217014,360,990,2018-03-30 09:56:00,33,"Central House, Aldgate",2018-03-30 09:50:00,552,"Watney Street, Shadwell"
96171,74197758,900,4773,2018-03-29 08:35:00,475,"Lightermans Road, Millwall",2018-03-29 08:20:00,552,"Watney Street, Shadwell"
96172,74233093,240,10539,2018-04-01 00:21:00,488,"Reardon Street, Wapping",2018-04-01 00:17:00,552,"Watney Street, Shadwell"
96173,74227626,480,1388,2018-03-31 15:28:00,587,"Monument Street, Monument",2018-03-31 15:20:00,552,"Watney Street, Shadwell"

In [108]:
def prod_Coord_Gps(x):
    g = geocoder.arcgis(f"{x},London")
    print(f"{g.json['lat']:.10}/{g.json['lng']:.10}/{x}")
    return g.json['lat'],g.json['lng']

#### Attention création très longue (10min). On vérifie avant si l'objet n'existe pas déjà en pickle

In [166]:
%%time
try :
    df_Coord_Gps=pickle.Unpickler(open("df_Coord_Gps.pkl",'rb')).load()
except:
    print("Je télécharge les Coord ETA 10 minutes")
    df_Coord_GPS = pd.DataFrame({'Station_Id': df['StartStation Id'].unique(), 'Station_Name': df['StartStation Name'].unique()})
    df_Coord_GPS[['latitude','longitude']]=list(df_Coord_GPS['Station_Name'].apply(lambda x:prod_Coord_Gps(x)))
    pickle.Pickler(open("df_Coord_Gps.pkl",'wb')).dump(df_Coord_Gps)
else:
    print('Donnée déjà présente')
df_Coord_GPS.head(1)

Je télécharge les Coord ETA 10 minutes

   Station_Id           Station_Name  latitude  longitude
0         442  Walmer Road, Avondale   51.5108   -0.21176

In [224]:
def Give_Marcker_cluster(df):
    marker={}
    for Station_Id,name,lat,lng in df.values.tolist():
        marker[Station_Id]=Marker(location=(lat,lng),draggable=False,title=name.split(',')[0])

    return MarkerCluster(markers=([m for m in marker.values()]))

In [225]:
m = Map(center=(51.50, -0.12), zoom=11,basemap=basemaps.OpenStreetMap.Mapnik)

m.add_control(FullScreenControl())
maker_cluster = Give_Marcker_cluster(df_Coord_GPS)
m.add_layer(marker_cluster);

display(m)

Map(center=[51.5, -0.12], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…

# Map avec des stations sur utilisées

In [208]:
df_used = df['StartStation Id']
stat = list(df_used.value_counts())
Q1,Q3= np.quantile(stat,[0.25,0.75])
outliers = ((Q3-Q1)*1.5)+Q3
Station_used=list(df_used.value_counts().loc[(df_used.value_counts() > outliers)].index)
Station_used

[154,
 14,
 191,
 307,
 248,
 303,
 194,
 374,
 132,
 762,
 251,
 213,
 217,
 104,
 101,
 732,
 553,
 341,
 427,
 111,
 574,
 404,
 39,
 215,
 73,
 55,
 71,
 350,
 46,
 229,
 356,
 66,
 109,
 130,
 107,
 153,
 361,
 95,
 737,
 270,
 717,
 272]

In [223]:
df_most_used_station = df_Coord_Gps.loc[df_Coord_Gps['Station_Id'].isin (Station_used)]

In [227]:
m2 = Map(center=(51.50, -0.12), zoom=11,basemap=basemaps.OpenStreetMap.Mapnik)

m2.add_control(FullScreenControl())

my_cluster = Give_Marcker_cluster(df_most_used_station)

m2.add_layer(my_cluster);

display(m2)

Map(center=[51.5, -0.12], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…